/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

/* MY CODE */

h1,
input[type="text"],
textarea,
p,
button {
  font-family: "Poppins", sans-serif;
  color: #467745;
}

body {
  background-color: #c0ebf9;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 640px) {
  h1 {
    text-align: left;
  }
  input[type="text"],
  textarea,
  p {
    width: 100% - 40px;
  }
}

input[type="text"] {
  font-weight: 500;
  font-size: 16px;
  max-width: 600px;
  height: 64px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}

textarea {
  font-weight: 400;
  font-size: 16px;
  max-width: 600px;
  height: 120px;
  width: 100%;
  background-color: white;
}

p {
  font-weight: 400;
  font-size: 16;
  word-break: break-all;
  width: 100%;
}

a {
  text-decoration: underline;
}

button {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  margin: auto;
  max-width: 280px;
  height: 80px;
  background-color: #467745;
  color: #c0ebf9;
  letter-spacing: 0.2em;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

div {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  border: transparent;
  width: 20px;
  height: 20px;
}
